'cesspool.lethalbundle' filter=lfs diff=lfs merge=lfs -text
'*.lethalbundle' filter=lfs diff=lfs merge=lfs -text
'Assets/LethalCompany/Tools/Plugins/BepInEx/IAmBatby-LethalLevelLoader/LethalBundles/cesspool.lethalbundle' filter=lfs diff=lfs merge=lfs -text
